__pycache__/
*.py[cod]
*.log
*.mat
*.pth
.idea
preprocess
preprocessed
store_model
store_physnet_model
PreprocessedData
PreTrainedModels
runs/*
runs/exp/*
runs/exp/logs/*
temp
facial_region_test.py
interp_test.py
debug_utils.py
multi_test.py
neural_methods/trainer/PhysnetTrainer_backup.py
debug_utils_physnet.py
test.yaml
pretrained/*
final_model_release/*
Exp1/CardioVtLogs/*
Exp1/cmatrix/*
Exp1/cmatrix/test/*
Exp1/chunks/*
Exp1/chunks/train/*
Exp1/chunks/test/*
Exp1/chunks/test/rPPG/*
Exp1/chunks/valid/*
Exp1/images/train/*
Exp1/images/test/*
Exp1/images/valid/*
Exp1/logs/*
tools/*
._*
Utils/._
.DS_Store
results_0/*
dlib_tools/*
tools/preprocessing_viz
final_model_release/PURE_PhysNet_DiffNormalized.pth
!Exp1/cmatrix/
!Exp1/cmatrix/.gitkeep
!Exp1/cmatrix/test/
!Exp1/cmatrix/test/.gitkeep
!Exp1/cmatrix/test/Final
!results_0/graphs/
!dlib_tools/.gitkeep
!tools/.gitkeep
!final_model_release/.gitkeep
!pretrained/.gitkeep
!runs/exp/
!runs/exp/.gitkeep
!runs/exp/logs/
!runs/exp/logs/.gitkeep
!Exp1/logs/.gitkeep
!Exp1/images/
!Exp1/images/valid/.gitkeep
!Exp1/images/test/.gitkeep
!Exp1/images/train/.gitkeep
!Exp1/chunks/
!Exp1/chunks/valid/.gitkeep
!Exp1/chunks/test/.gitkeep
!Exp1/chunks/test/
!Exp1/chunks/test/rPPG/.gitkeep
!Exp1/chunks/train/.gitkeep